<div class="mx-16 mt-4 flex flex-col md:flex-row items-center gap-6 md:gap-8">
    <!-- Contenedor de texto (izquierda) -->
    <div class="text-justify md:text-justify mt-6 md:mt-0 order-1 md:order-none">
        <h3 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 mb-4">Ayúdanos a combatir el hambre en San
            Miguel de Allende</h3>
        <p class="text-gray-600 text-base md:text-lg lg:text-l">
            Nuestro compromiso de aliviar el hambre se extiende actualmente a 51 comunidades pobres. Más de 4500 niños
            reciben una comida caliente y bien equilibrada en nuestras 40 cocinas escolares, y cientos más reciben apoyo
            nutricional a través de programas complementarios. También entregamos alimentos para las comidas diarias de
            cientos de huérfanos, niños con discapacidades y ancianos que son atendidos por siete organizaciones
            benéficas urbanas locales.
        </p>
    </div>

    <!-- Imagen más pequeña (derecha) -->
    <img src="assets/top.png"
        class="w-48 h-48 md:w-64 md:h-64 lg:w-72 lg:h-72 object-cover rounded-lg shadow-md order-2 md:order-none"
        alt="Nuestro compromiso contra el hambre">
</div>

<div class="mx-16 mt-4  flex flex-col md:flex-row items-center gap-6 md:gap-12">

    <img src="assets/ch.jpg" class="mb-16 w-64 h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 object-cover rounded-lg shadow-lg"
        alt="Nuestro compromiso contra el hambre">

    <div class="text-justify md:text-justify mt-6 md:mt-0">
        <!--         <h3 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 mb-4">Título</h3> -->
        <p class="text-gray-600 text-base md:text-lg lg:text-l">
            Nuestro compromiso de aliviar el hambre se extiende actualmente a 51 comunidades pobres. Más de 4500 niños
            reciben una comida caliente y bien equilibrada en nuestras 40 cocinas escolares, y cientos más reciben apoyo
            nutricional a través de programas complementarios. También entregamos alimentos para las comidas diarias de
            cientos de huérfanos, niños con discapacidades y ancianos que son atendidos por siete organizaciones
            benéficas urbanas locales.
            <br>
            <br>
            Cuando la pandemia de COVID-19 dejó a miles de personas en San Miguel de Allende al borde de la inanición,
            Feed the Hungry lanzó la mayor iniciativa de ayuda alimentaria jamás realizada en la región. Si bien nuestro
            enfoque tradicional es el bienestar de los niños, también ayudamos a familias con dificultades a través de
            programas especiales en comunidades que aún se están recuperando.
        </p>
        
    </div>
</div>